// ---- Home ----
.home-container {
  text-align: center;
  margin-top: 10px;

  .random-player-btn {
    margin: 5vh;
  }

  .random-player {
    width: 40vh;
    margin: auto;
    opacity: 0;
  }

  .fade {
    animation: fadeIn 1s ease both;
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

// ---- Modal ----
.modal-container {
  width: 50vw;
  max-width: 50vw;

  min-width: 550px;

  .modal-body {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    justify-content: center;

    .player-modal-image {
      max-width: 20vw;
      max-height: 35vh;
    }

    .modal-text-container {
      display: flex;
      flex-direction: column;
    }
  }

  .modal-btn-container {
    width: 55vw;
    display: flex;

    .modal-btn {
      font-weight: bold;
      width: 150px;
      border: 0;
      -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
      box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
      border-radius: 5px;
      padding: 5px 15px;
    }

    .modal-save-btn {
      background-color: #096ed3;
      color: white;
      margin-left: auto;
      margin-right: 10px;

      &:hover {
        background-color: #3f9bf7;
      }

      &:active {
        background-color: #3f9bf7;
        -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
        box-shadow: inset 5px 5px 12px -7px #000000;
      }
    }

    .modal-close-btn {
      background-color: white;
      color: #212529;
      align-items: end;
      border: 0.5px solid #212529;

      &:hover {
        background: rgb(224, 224, 224);
      }

      &:active {
        background: rgb(224, 224, 224);
        -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
        box-shadow: inset 5px 5px 12px -7px #000000;
      }
    }

    .modal-delete-btn {
      background-color: white;
      border: 0.5px solid #db2834;
      color: #db2834;

      &:hover {
        background: #db2834;
        color: white;
      }

      &:active {
        background: #db2834;
        color: white;
        -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
        box-shadow: inset 5px 5px 12px -7px #000000;
      }
    }
  }
}

// ---- Cards ----
.cards {
  margin-top: 20px;
  -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);

  .card-title {
    margin-top: 10px;
  }

  .card-btn {
    float: right;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #096ed3;
    color: white;
    -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
    box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);

    &:hover {
      background-color: #3f9bf7;
    }

    &:active {
      background-color: #3f9bf7;
      -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
      box-shadow: inset 5px 5px 12px -7px #000000;
    }
  }
}

.radio-buttons-container {
  div {
    display: block;
  }
}

// ---- Create Player Form ----
.create-player-container {
  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .form-container {
    margin: auto;
    width: 50vw;
    max-width: 500px;
    border-radius: 10px;
    background-color: #212529;
    -webkit-box-shadow: 5px 5px 40px -14px #000000;
    box-shadow: 5px 5px 40px -14px #000000;

    .form-create-player {
      padding: 20px 25px;
      font-weight: bold;
      color: white;

      .form-group {
        margin-top: 10px;
      }

      .form-btn-container {
        display: flex;
        flex-direction: column;

        .form-btn {
          margin-top: 25px;
          align-self: flex-end;
          float: right;
          font-size: 18px;
          font-weight: bold;
          border: 0;
          border-radius: 5px;
          padding: 5px 25px;
          background-color: #096ed3;
          color: white;
          -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
          box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);

          &:hover {
            background-color: #3f9bf7;
          }

          &:active {
            background-color: #3f9bf7;
            -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
            box-shadow: inset 5px 5px 12px -7px #000000;
          }
        }
      }
    }
  }
}

// ---- Football field ----
.team-selection-page {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: auto 25vw;

  .team-selection-list {
    overflow-y: scroll;
    height: 55vh;
  }

  .football-field {
    width: 50vw;
    height: 45vh;
    position: relative;

    img {
      width: 100%;
      height: 55vh;
      position: absolute;
    }

    .field-players-grid {
      display: grid;
      grid-template-rows: 9vh 9vh 9vh 9vh;
      position: absolute;
      width: 43vw;
      height: 40vh;
      margin: 3vh 6vh;

      .player-images {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
        }
      }

      .add-player-button {
        width: 4.5vw;
        height: 4.5vw;
      }

      .field-attackers {
        display: grid;
        grid-template-columns: 8vw 8vw 8vw;
        height: 8vh;
        justify-content: center;
      }

      .field-midfielders {
        display: grid;
        grid-template-columns: 8vw 8vw 8vw;
        height: 8vh;
        justify-content: center;
      }

      .field-defenders {
        display: grid;
        grid-template-columns: 8vw 8vw 8vw 8vw;
        height: 8vh;
        justify-content: center;
      }

      .field-goalkeeper {
        display: grid;
        grid-template-columns: 8vw;
        height: 8vh;
        justify-content: center;
      }
    }
  }
}

// ---- Error View ----
.error-view
{
  font-weight: bold;
  margin: 10vh 5vh;

}