.home-container {
  text-align: center;
  margin-top: 10px;
}
.home-container .random-player-btn {
  margin: 5vh;
}
.home-container .random-player {
  width: 40vh;
  margin: auto;
  opacity: 0;
}
.home-container .fade {
  animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-container {
  width: 50vw;
  max-width: 50vw;
  min-width: 550px;
}
.modal-container .modal-body {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
  justify-content: center;
}
.modal-container .modal-body .modal-text-container {
  display: flex;
  flex-direction: column;
}
.modal-container .modal-btn-container {
  width: 55vw;
  display: flex;
}
.modal-container .modal-btn-container .modal-btn {
  font-weight: bold;
  width: 150px;
  border: 0;
  -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  padding: 5px 15px;
}
.modal-container .modal-btn-container .modal-save-btn {
  background-color: #096ed3;
  color: white;
  margin-left: auto;
  margin-right: 10px;
}
.modal-container .modal-btn-container .modal-save-btn:hover {
  background-color: #3f9bf7;
}
.modal-container .modal-btn-container .modal-save-btn:active {
  background-color: #3f9bf7;
  -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
  box-shadow: inset 5px 5px 12px -7px #000000;
}
.modal-container .modal-btn-container .modal-close-btn {
  background-color: white;
  color: #212529;
  align-items: end;
  border: 0.5px solid #212529;
}
.modal-container .modal-btn-container .modal-close-btn:hover {
  background: #e0e0e0;
}
.modal-container .modal-btn-container .modal-close-btn:active {
  background: #e0e0e0;
  -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
  box-shadow: inset 5px 5px 12px -7px #000000;
}
.modal-container .modal-btn-container .modal-delete-btn {
  background-color: white;
  border: 0.5px solid #db2834;
  color: #db2834;
}
.modal-container .modal-btn-container .modal-delete-btn:hover {
  background: #db2834;
  color: white;
}
.modal-container .modal-btn-container .modal-delete-btn:active {
  background: #db2834;
  color: white;
  -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
  box-shadow: inset 5px 5px 12px -7px #000000;
}

.cards {
  margin-top: 20px;
  -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
}
.cards .card-title {
  margin-top: 10px;
}
.cards .card-btn {
  float: right;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #096ed3;
  color: white;
  -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
}
.cards .card-btn:hover {
  background-color: #3f9bf7;
}
.cards .card-btn:active {
  background-color: #3f9bf7;
  -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
  box-shadow: inset 5px 5px 12px -7px #000000;
}

.radio-buttons-container div {
  display: block;
}

.create-player-container h1 {
  text-align: center;
  margin: 20px 0;
}
.create-player-container .form-container {
  margin: auto;
  width: 50vw;
  max-width: 500px;
  border-radius: 10px;
  background-color: #212529;
  -webkit-box-shadow: 5px 5px 40px -14px #000000;
  box-shadow: 5px 5px 40px -14px #000000;
}
.create-player-container .form-container .form-create-player {
  padding: 20px 25px;
  font-weight: bold;
  color: white;
}
.create-player-container .form-container .form-create-player .form-group {
  margin-top: 10px;
}
.create-player-container .form-container .form-create-player .form-btn-container {
  display: flex;
  flex-direction: column;
}
.create-player-container .form-container .form-create-player .form-btn-container .form-btn {
  margin-top: 25px;
  align-self: flex-end;
  float: right;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 5px 25px;
  background-color: #096ed3;
  color: white;
  -webkit-box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 6px 20px -11px rgba(0, 0, 0, 0.65);
}
.create-player-container .form-container .form-create-player .form-btn-container .form-btn:hover {
  background-color: #3f9bf7;
}
.create-player-container .form-container .form-create-player .form-btn-container .form-btn:active {
  background-color: #3f9bf7;
  -webkit-box-shadow: inset 5px 5px 12px -7px #000000;
  box-shadow: inset 5px 5px 12px -7px #000000;
}

.team-selection-page {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: auto 25vw;
}
.team-selection-page .team-selection-list {
  overflow-y: scroll;
  height: 55vh;
}
.team-selection-page .football-field {
  width: 50vw;
  height: 45vh;
  position: relative;
}
.team-selection-page .football-field img {
  width: 100%;
  height: 55vh;
  position: absolute;
}
.team-selection-page .football-field .field-players-grid {
  display: grid;
  grid-template-rows: 9vh 9vh 9vh 9vh;
  position: absolute;
  width: 43vw;
  height: 40vh;
  margin: 3vh 6vh;
}
.team-selection-page .football-field .field-players-grid .player-images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-selection-page .football-field .field-players-grid .player-images img {
  border-radius: 50%;
}
.team-selection-page .football-field .field-players-grid .add-player-button {
  width: 4.5vw;
  height: 4.5vw;
}
.team-selection-page .football-field .field-players-grid .field-attackers {
  display: grid;
  grid-template-columns: 8vw 8vw 8vw;
  height: 8vh;
  justify-content: center;
}
.team-selection-page .football-field .field-players-grid .field-midfielders {
  display: grid;
  grid-template-columns: 8vw 8vw 8vw;
  height: 8vh;
  justify-content: center;
}
.team-selection-page .football-field .field-players-grid .field-defenders {
  display: grid;
  grid-template-columns: 8vw 8vw 8vw 8vw;
  height: 8vh;
  justify-content: center;
}
.team-selection-page .football-field .field-players-grid .field-goalkeeper {
  display: grid;
  grid-template-columns: 8vw;
  height: 8vh;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
